<html lang="en"><head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Update Student</title>
</head>
<body style="overscroll-behavior-x: auto;">
	<h1>Update Student</h1>
	<form action="/student/{{stu.student_id}}/update" method="POST" id="update-form">
		<div>
			<label>Roll Number:</label>
			<input type="text" name="roll" value="{{stu.roll_number}}" disabled="">
		</div> <br><br>
		<div>
			<label>First Name:</label>
			<input type="text" name="f_name" value="{{stu.first_name}}" required="">
		</div> <br><br>
		<div>
			<label>Last Name:</label>
			<input type="text" name="l_name" value="{{stu.last_name}}">
		</div> <br><br>
		<div>
		<label>Select Courses: </label>
			<input type="checkbox" name="courses" value="course_1">
			<label>MAD I</label>
			<input type="checkbox" name="courses" value="course_2">
			<label>DBMS</label>
			<input type="checkbox" name="courses" value="course_3">
			<label>PDSA</label>
			<input type="checkbox" name="courses" value="course_4">
			<label>BDM</label>
		</div> <br><br>
		<div>
			<input type="submit" value="Submit">
		</div>
	</form>

</body></html>